.customer {
	width: 100%;
	height: 100%;
	display: grid;
	background-color: var(--primary-color);
	grid-template-columns: minmax(10px, 1fr) minmax(60%, 800px) minmax(10px, 1fr);
	
	&__main {
		grid-column: 2/3;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	&__customer {
		grid-column: 3/3;
	}
	
	&__header {
		font-size: 3rem;
		cursor: pointer;
		color: #FFFFFF;
		padding: 0;
		margin: 0 0 3rem 0;
		transition: var(--transistion-color);
		font-family: var(--font-medium);
	}
	
	
	&__login {
		grid-column: 3/3;
	}
	
	&__link {
		font-size: 1.2rem;
		text-align: right;
		cursor: pointer;
		color: #FFFFFF;
		padding: 0;
		margin: 1.2rem 0 0 0;
		transition: var(--transistion-color);
		font-family: var(--font-medium);
		
		&:hover {
			color: #9f9f9f;
		}
	}
	
	&__text {
		font-family: var(--font-medium);
		color: var(--primary-color);
		font-size: 2rem;
		padding: 0;
		margin: 1em 0;
		text-align: center;
	}
	
	&__button {
		width: 100%;
		cursor: pointer;
		padding: 0.7em 2em;
		font-family: var(--font-medium);
		font-size: 1.2rem;
		border-radius: 0.5em;
		letter-spacing: 0.1em;
		margin: 0;
		outline: none;
		transition: var(--transistion-bg), var(--transistion-color);
		color: var(--primary-color);
		background-color: #FFFFFF;
		min-width: min-content;
		
		&:disabled {
			opacity: 0.6;
			cursor: not-allowed;
		}
		
		&:hover:not(:disabled) {
			background-color: transparent;
			color: #FFFFFF;
			border: 1px solid #FFFFFF;
		}
	}
}
